@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap');

$secondary_font: 'Montserrat', sans-serif;

main {
  font-family: $secondary_font;
  letter-spacing: 1px;
  line-height: 1.8em;
}

h1, h2, h3 {
  font-size: $s1 / 2;
  line-height: 1.7em;
}

strong {
  font-weight: 800;
}

sub {
  color: red;
}