// ****************************************
// @TODH FONT
// ****************************************
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,500&display=swap');

$secondary_font: 'Montserrat', sans-serif;

// ****************************************
// @TODH GLOBAL SIZES
// ****************************************

$basesize: 16;

// ****************************************
// @TODH VERTICAL RHYTHM
// ****************************************
$base_font_size: $basesize * 1px;
$base_line_height: $base_font_size * 1.75;

// 5 Escalas de tamaño
$size-scales: (
  -2: $h-1,
  -1: $h0,
  0: $h1,
  1: $h2,
  2: $h3,
  3: $h4,
  4: $h5,
  5: $h6,
  6: $h6
);
@function font-scale($level) {
  @return map-get($size-scales, $level);
}

// 5 Escalas de alto de linea
$line-heights: (
  -2: $base-line-height / 2.62,
  -1: $base-line-height / 1.62,
  0: $base-line-height,
  1: $base-line-height * 1.62,
  2: $base-line-height * 2.62,
  3: $base-line-height * 4.236,
  4: $base-line-height * 4.236,
  5: $base-line-height * 6.854,
  6: $base-line-height * 6.854
);

@function line-height($level) {
  @return map-get($line-heights, $level);
}

// Funcion magica :)))
@mixin type-setting($level: 0) {
  font-size: font-scale($level);
  line-height: line-height($level);
}

@function size($level) {
  @return map-get($size-scales, $level);
}

main,
header {
  font-family: $secondary_font;
  // letter-spacing: 0px;
}

i {
  color: $highlight;
  font-style: italic;
}

em {
  color: $dark;
  font-style: italic;
  font-weight: bold;
}

strong {
  font-weight: 800;
}

h1 {
  @include type-setting(0);
  @include media(s4) {
    @include type-setting(1);
  }
  @include media(s5) {
    @include type-setting(2);
  }
}
 
h2 {
  font-weight: 500;
  @include type-setting(0);
  @include media(s1) {
    @include type-setting(1);
  }
}
h2 {
  @include type-setting(0);
  @include media(s1) {
    @include type-setting(1);
    margin-left: $h3;
    margin-right: $h3;
  }
  @include media(s2) {
    margin-left: $h6;
    margin-right: $h6;
  }
  @include media(s4) {
    @include type-setting(2);
    margin-left: $h7;
    margin-right: $h7;
  }
}
h4 {
  @include type-setting(-1);
  @include media(s1) {
    @include type-setting(0);
  }
}
small,
p {
  text-align: left;
  @include type-setting(0);
  // @include media(s1) {
  //   @include type-setting(0);
  // }
}

p,
h4 {
    @include media(s1) {
        max-width: $bp2;
        margin-left: auto;
        margin-right: auto;
    }
}

blockquote {
  @include type-setting(-1);
  @include media(s1) {
    @include type-setting(0);
  }
}
blockquote {
  @include media(s1) {
    margin-left: $h3;
    margin-right: $h3;
  }
  @include media(s2) {
    max-width: $bp1;
    margin-left: auto;
    margin-right: auto;
  }
}
sub {
  color: $dark;
  font-weight: 800;
  padding-left: 2px;
  padding-top: 0px;
  @include type-setting(-1);
  background-color: #fff;
}

figcaption {
  text-align: left;
}