// ****************************************
// @TODH BASE IMPORTS
// ****************************************

@import "_reset.scss";
@import "_mediaqueries.scss";
@import "_colors.scss";
@import "_sizes.scss";
@import "_font.scss";
@import "_forms.scss";
// @import "_svg.scss";
@import "_animation.scss";

nav {
    padding-top: $h2;
    a {
        padding: $h0;
        text-decoration: none;
        color: $secondary;
        border: 1px solid $secondary;
    }
    
}
a[target="_blank"]:after {
    content: " ⤤";
}